@font-face {
   font-family: 'Inter-Regular';
   font-display: swap;
   src: url('file:///C:/Users/aced2/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-10-21_195714/fonts/Inter-Regular/font.ttf');
}
