@font-face {
   font-family: 'Satoshi-Regular';
   font-display: swap;
   src: url('Satoshi-Regular/font.ttf');
}
@font-face {
   font-family: 'Satoshi-Bold';
   font-display: swap;
   src: url('Satoshi-Bold/font.ttf');
}
@font-face {
   font-family: 'Satoshi-Medium';
   font-display: swap;
   src: url('Satoshi-Medium/font.otf');
}
