@font-face {
   font-family: 'Satoshi-Medium';
   font-display: swap;
   src: url('file:///C:/Users/aced2/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-10-21_195714/fonts/Satoshi-Medium/font.otf');
}
